/bootstrap/compiled.php
/vendor
bower_components
bower_libs
/public/lib
/public/app/js
/public/app/css
/public/app/templates
/node_modules
/.vagrant
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
npm-debug.log
