<img class="page-lock-img" src="http://placehold.it/200x200" alt="">
<div class="page-lock-info">
	<h3>Bob Nilson</h3>
	<span class="email">
	bob@keenthemes.com </span>
	<span class="locked">
	Locked </span>
	<form class="form-inline" id="summoner-name-form" >
		<div class="input-group input-medium">
			<input type="text" id="summoner-name" class="form-control" placeholder="Password">
			<span class="input-group-btn">
			<button type="submit" class="btn blue icn-only"><i class="m-icon-swapright m-icon-white"></i></button>
			</span>
		</div>
		<!-- /input-group -->
		<div class="relogin">
			<a href="login.html">
			Not Bob Nilson ? </a>
		</div>
	</form>
</div>